<h1>
    List of employee <div class="btn btn-primary float-right" ng-click="showModel = true"> Add Employee </div>
</h1>

<div class="columns">
    <div class="column col-6 col-xs-12" ng-repeat="emp in employeeList">
        <div class="panel">
            <div class="panel-body">
                <div class="tile tile-centered">
                    <div class="tile-content">
                        <div class="tile-title text-bold">Name</div>
                        <div class="tile-subtitle">{{emp.name}}</div>
                    </div>
                </div>
                <div class="tile tile-centered">
                    <div class="tile-content">
                        <div class="tile-title text-bold">Employee ID</div>
                        <div class="tile-subtitle">{{emp.empId}}</div>
                    </div>
                </div>
                <div class="tile tile-centered">
                    <div class="tile-content">
                        <div class="tile-title text-bold">Salary</div>
                        <div class="tile-subtitle">{{emp.salary}}</div>
                    </div>
                </div>
                <div class="tile tile-centered">
                    <div class="tile-content">
                        <div class="tile-title text-bold">Business Unit</div>
                        <div class="tile-subtitle">{{emp.bu}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal active" id="modal-id" ng-if="showModel">
    <a href="javascript:void(0)" class="modal-overlay" aria-label="Close" ng-click="showModel=false"></a>
    <div class="modal-container">
        <div class="modal-header">
            <div class="btn btn-clear float-right" aria-label="Close"></div>
            <div class="modal-title h5">Add Employee</div>
        </div>
        <div class="modal-body">
            <div class="content">
                <div class="docs-demo columns">
                    <div class="column col-6 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="input-example-1">Name</label>
                            <input class="form-input" id="input-example-1" type="text" placeholder="Name" ng-model="tempEmployee.name">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-example-2">Employee ID</label>
                            <input class="form-input" id="input-example-2" type="text" placeholder="Employee ID" ng-model="tempEmployee.empId">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-example-3">Salary</label>
                            <input class="form-input" id="input-example-3" type="text" placeholder="Salary" ng-model="tempEmployee.salary">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-example-4">Business Unit</label>
                            <input class="form-input" id="input-example-4" type="text" placeholder="Business Unit" ng-model="tempEmployee.bu">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn btn-primary" ng-click="addEmployee()">Add</div>
        </div>
    </div>
</div>
