<header>
    <div class="toggle-menu float-left" ng-click="toggleMenu()" style="color: white">
        <i class="fa fa-align-justify"></i>
    </div>
    <nav class="panel-nav float-left">
        <ul class="tab tab-block">
            <li ng-class="mInPage==='home'?'tab-item active':'tab-item'" ng-click="togglePge('home')">
                <img src="/img/logo-nav@2x.png">
            </li>
            <li ng-class="mInPage==='home'?'tab-item active':'tab-item'" ng-click="togglePge('home')"><a
                    href="javascript:void(0)">Home</a></li>
            <li ng-class="mInPage==='about'?'tab-item active':'tab-item'" ng-click="togglePge('about')"><a
                    href="javascript:void(0)">About US</a></li>
            <li ng-class="mInPage==='contact'?'tab-item active':'tab-item'" ng-click="togglePge('contact')"><a
                    href="javascript:void(0)">Contact Us</a></li>
        </ul>
    </nav>
</header>
<div class="page-area-parent">
    <ul ng-class="manuIsVisible?'menu margin-hidden':'menu'">
        <li class="menu-item">
            <div class="tile tile-centered">
                <div class="tile-icon"><img class="avatar" src="/img/logo.png" alt="Avatar"></div>
                <div class="tile-content">Steve Rogers</div>
            </div>
        </li>
        <li class="divider"></li>
        <li class="menu-item">
            <a href="/#!/game" ng-class="{active: $route && $route.current.activetab == 'active'}">Game</a>
        </li>
        <li class="menu-item"><a href="/#!/calc" ng-class="{active: $route && $route.current.activetab == 'active'}">Calculator</a></li>
        <li class="menu-item"><a href="/#!/emp" ng-class="{active: $route && $route.current.activetab == 'active'}">Employee</a></li>
    </ul>

    <div class="page-area">
        <div ng-if="mInPage==='home'">
            <h1>M in home</h1>
            <div>Accusamus deserunt dolorem dolores doloribus eius, ex facere harum, iusto magnam maxime minus, nostrum
                perferendis repellendus reprehenderit soluta suscipit vitae voluptatum. Cum delectus esse minima minus nobis
                praesentium quod veritatis.
            </div>
        </div>
        <div ng-if="mInPage==='about'">
            <h1>M in about us</h1>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid excepturi facere illo? Animi, aut commodi
                est exercitationem fugiat labore molestias necessitatibus qui quia quis recusandae repudiandae tenetur totam vel
                voluptate.
            </div>
        </div>
        <div ng-if="mInPage==='contact'">
            <h1>M in contect us</h1>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis dolorum ea iste, magnam quis
                quisquam. Asperiores dignissimos dolores mollitia officiis quasi reiciendis repellat sunt. Distinctio earum ex
                expedita quidem.
            </div>
        </div>

        <div ng-view></div>
    </div>
</div>
